body{
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}

.textoizquierda{

    margin: 3%;
    width: 30%;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}